<h2><%= link_to "#{@person.nick}'s", @person %> activity</h2>

<script src="http://d3js.org/d3.v3.min.js"></script>
<% first_message_year = @person.messages.reorder("created_at ASC").first.try(:created_at).try(:year) %>
<% last_message_year = @person.messages.reorder("created_at DESC").first.try(:created_at).try(:year) %>
<% first_message_year ||= Time.now.year %>
<% last_message_year ||= Time.now.year + 1 %>
<script>

var width = 960,
    height = 136,
    cellSize = 11; // cell size

var day = d3.time.format("%w"),
    week = d3.time.format("%U"),
    format = d3.time.format("%Y-%m-%d");

var color = d3.scale.quantize()
    .domain([0, 500])
    .range(d3.range(12).map(function(d) { return "q" + d + "-11"; }));

var svg = d3.select("body").selectAll("svg")
    .data(d3.range(<%= first_message_year %>, <%= last_message_year + 1 %>))
  .enter().append("svg")
    .attr("width", width)
    .attr("height", height)
    .attr("class", "colours")
  .append("g")
    .attr("transform", "translate(" + ((width - cellSize * 53) / 2) + "," + (height - cellSize * 7 - 1) + ")");

svg.append("text")
    .attr("transform", "translate(-6," + cellSize * 3.5 + ")rotate(-90)")
    .style("text-anchor", "middle")
    .text(function(d) { return d; });

var rect = svg.selectAll(".day")
    .data(function(d) { return d3.time.days(new Date(d, 0, 1), new Date(d + 1, 0, 1)); })
  .enter().append("rect")
    .attr("class", "day")
    .attr("width", cellSize)
    .attr("height", cellSize)
    .attr("x", function(d) { return week(d) * cellSize; })
    .attr("y", function(d) { return day(d) * cellSize; })
    .datum(format);

d3.json("/p/<%= @person.nick %>/activity.json", function(error, json) {
  var data = d3.nest()
    .key(function(d) { return d.date; })
    .rollup(function(d) { return d[0].count; })
    .map(json);

  rect.filter(function(d) { return d in data; })
      .attr("class", function(d) { return "day " + color(data[d]); })
    .attr("title", function(d) { return data[d] + " messages on " + d })
    .select("title")
      .text(function(d) { return data[d] });
});

d3.select(self.frameElement).style("height", "500px");

$('.day').tipsy({ 
  gravity: 'se',
  offset: 1,
  fallback: "0 messages"
});

</script>