<h2><%= @person.nick %></h2>

<div id='messages'>
  <% messages = @person.last_100_messages_by_day %>
  <% if messages.empty? %>
    There are no messages... yet.
  <% end %>
  <% messages.each do |day, messages| %>
    <h3><%= day %></h3>
    <%= render messages.sort_by { |a| a.created_at } %>
  <% end %>
</div>
