// Place all the styles related to the channels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#messages {
  font: 12pt Inconsolata, Menlo, "Courier New", monospace;
}


.message {
  margin-top: 3px;
  margin-bottom: 3px;
}

.kick {
  color: #aa0000;
  font-weight: bold;
}

.mode, .join, .part {
  color: #afafaf;

  a {
    color: mix(#0033ff, #afafaf);
  }
}

.highlight {
  background: #ffffaa;
}

